.search-container {
  position: "relative";
}

#dropdown-basic {
  width: 400px;
  /*  background-color: #e3f2fd;  */
  /* background-color: inherit;
  border-color: inherit; */
  background-color: inherit;
  border-color: black;
}

.search-input {
  float: left;
  min-width: 98%;
}

.search-icon {
  /* position: absolute;
  right: 30px;
  color: grey; */
}
